@model IEnumerable<WebApplication2.Models.Leagues>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeagueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfClplaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfClplaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Countryname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeagueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeagueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeagueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
